<app-title content="Busca Código Postal"></app-title>
<div class="row">
  <div class="col-xs-12 col-sm-12 col-md-12">
    <div class="input-group">
      <input [(ngModel)]="cep" (keypress)="numberOnly($event)" [ngModelOptions]="{standalone: true}" type="text" class="form-control"
        placeholder="Digite o número" maxlength="8">
      <span class="input-group-btn">
        <button class="btn btn-primary" type="button" (click)="find()" [disabled]="!cep || cep.length < 8">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
      </span>
    </div>
  </div>
</div>
<br />
<div class="row">
  <div *ngIf="zip && zip.cep" class="col-xs-12 col-sm-12 col-md-12">
    <app-little-offers [model]="zip"></app-little-offers>
  </div>
</div>
